/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
		#header .navigation a {
			font-size: 15px;
		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
		#header .navigation a {
			font-size: 15px;
		}
		#header .navigation {
		  margin-top: 0;
		}
		#homepage-search-box .search-form {
			padding:20px;
		}
		.content.article.blog {
		  background: none;
		  min-height: 300px;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
		#header .navigation {
		  margin-top: 0;
		}
		#homepage-search-box .search-form {
			padding:20px;
		}
		.sidebar {
			padding-top:20px;
		}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
		.sidebar {
			padding-top:20px;
		}
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }