html, body {
	height:100%;
}
body {
	background: #f5f4ec url(../images/header_img_1.jpg) top repeat-x;
	padding-top:20px;
	font-size: 15px;
}
#wrap {
	height:auto;
	min-height:100%;
	margin:0 auto -350px;
	padding:0 0 350px;
}
/* Global */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Muli', sans-serif;
}
.muli {
	font-family: 'Muli', sans-serif;
}
a {
	color: #005c7e;
}
/* Header */
#header {
	background: #FFF;
	min-height:100px;
	position:relative;
	margin-bottom:20px;
}
#header .top_contacts {
	position: absolute;
	right: 10px;
	top: 0;
}
#header .top_contacts .glyphicon {
	color:#797979;
}
#header .top_contacts .phone {
	background-color:#005c7e;
	padding: 10px 20px;
	height:45px;
	display:inline-block;
}
#header .top_contacts .phone > .number {
	font-size: 20px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
}
#header .top_contacts .phone .glyphicon {
	color:#669db2;
}
#site-title {
	margin:0;
	padding: 15px 0 0 0;
}
#site-title a {
	background: #FFF url(../images/brand.jpg) no-repeat;
	display:block;
	text-indent:-9999px;
	margin-left:30px;
	margin-top:10px;
	width:320px;
	height:75px;
}

#header .navigation {
	margin-top:55px;
}
#header .navigation a {
	font-family: 'Muli', sans-serif;
	font-size: 20px;
	color: #005c7e;
}
#header .navigation .nav {
	background-color: #FFF;
}
#header .navigation li:hover a {
	background-color: #005C7E;
	/* font-weight:bold; */
	color:#FFF;
}
#header .navigation .navbar-default {
	background-color: transparent;
	border: none;
	margin-bottom: 0px;
}
/* Footer */
#footer {
	background-color:#FFF;
	padding:20px 0;
	min-height:350px;
}
#footer  a {
	color:#AAA;
}
#footer  a:hover {
	color:#000;
}
#footer hr {
	border-top: 1px dashed #CCC;
}
#footer .widgets .widget-title {
	color:#000;
	font-weight:bold;
}
#footer .charity {
	float:right;
}
#footer .phone {
	font-size:30px;
	font-weight:bold;
}
#footer .phone a {
	text-decoration:none;
	color:#333;
}
#footer .navigation a {
	background-color:#FFF;
	padding: 0 20px;
	
}
#footer .navigation li {
	border-left:1px solid #CCC;
}
#footer .navigation li:first-child {
	border-left:none;
}
/* Social Media */
#footer .social-media {
	margin:0;
	padding:0;
	list-style:none;
}
#footer .social-media li {
	display:inline-block;
	margin-right:5px;
}
#footer .social-media li a {
	display:block;
	text-indent:-9999px;
	height:27px;
	width:28px;
}
#footer .social-media li a {
	background: url(../images/social_media.jpg) no-repeat;
}
#footer .social-media li.facebook a {
	background: url(../images/social_media.jpg) 0 0 no-repeat;
}
#footer .social-media li.twitter a {
	background: url(../images/social_media.jpg) -33px 0 no-repeat;
}
#footer .social-media li.youtube a {
	background: url(../images/social_media.jpg) -66px 0 no-repeat;
}
#footer .social-media li.linkedin a {
	background: url(../images/social_media.jpg) -100px 0 no-repeat;
}
#footer .social-media li.google a {
	background: url(../images/social_media.jpg) -134px 0 no-repeat;
}
#footer .navigation .nav.nav-pills {
	text-align: center;
}
#footer .navigation .nav.nav-pills li {
	display: inline-block;
	float: inherit;
}
/* #homepage-box */
.link-arrow {
	font-size:10px;
}
.homepage .box {
	min-height:289px;
	margin-bottom:20px;
}

#homepage-search-box {
	background-color:#f5f4ec;
	min-height:300px;
	padding:5px;
	box-shadow: 0 0 3px #CCC;
}

#homepage-search-box .search-form {
	padding:0 20px 20px 0;
}
#homepage-search-box .search-form h5 {
	color: #005c7e;
	margin-top:20px;
}
#homepage-search-box .search-form h3 {
	margin-top:0;
}
.homepage .box2 {
	min-height:289px;
	margin-bottom:20px;
	background-color:#f5f4ec;
}

.homepage .box3 {
	background: url(../images/bottom_img_1.jpg) top repeat-x;
	min-height:289px;
	padding:20px 0;
	margin-bottom:0px;
}

#content-box {
	min-height:500px;
	box-shadow: 0px 0px 3px 0px #D2CFCF;
	background-color:#FFF;
	margin-bottom:30px;
	padding:10px 20px;
	padding-bottom:50px;
}
#content-box.new-listing {
	padding:0;
	background-color:#edf3f4;
	padding-bottom:0;
}
#content-box.new-listing .content {
	padding:10px 20px;
	padding-bottom:50px;
	background-color:#FFF;
}
#content-box.new-listing .content .arrow {
	background-color:#FFF;
	width:30px;
	height:30px;
	position:absolute;
	right:0;
	top:30px;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
#content-box.new-listing .content .well {
	border:none;
	border-radius:0;
	webkit-box-shadow: none;
	box-shadow: none;
}
#content-box.new-listing .sidebar {
	padding-right:30px;
}
.breadcrumb {
	padding: 8px 0px;
	background-color:#FFF;
	margin-bottom: 0px;
}
.breadcrumb>li+li:before {
  content: "\203A";
}

.page-header {
  margin: 0;
  border:none;
}

#content-box .page-title {
	font-size:20px;
	color:#005c7e;
}
#content-box .content p {
	line-height: 2;
}

#content-box .content ul > li {
	line-height: 2;
}

.home-values-cities {
	list-style:none;
	padding:0;
	margin:0;
}
.home-values-cities li {
	margin-bottom:5px;
}
.home-values-cities li a {
	color:#555;
}

.panel.panel-hcc {
	background-color:#f5f4ec;
	border:none;
	border-radius:0;
	border-top: 1px solid #FFF;
	border-bottom:1px solid #d5d4cd;
	border-left: 1px solid #edece5; 
	border-right: 1px solid #edece5;
	margin-bottom: 2px;
}
.panel.panel-hcc .panel-title{
	font-size:18px;
	margin-bottom:10px;
}
.btn.btn-hcc {
	color: #0092c8;
	border: 1px solid #9fbac0;
	background: #f3fbfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3fbfc 0%, #d1edf4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3fbfc), color-stop(100%,#d1edf4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f3fbfc 0%,#d1edf4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f3fbfc 0%,#d1edf4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f3fbfc 0%,#d1edf4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f3fbfc 0%,#d1edf4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3fbfc', endColorstr='#d1edf4',GradientType=0 ); /* IE6-9 */
	font-weight:bold;
	box-shadow:0 0 3px 0 #CCC;
}
.form-control {
	border-color:#cadde0;
	box-shadow: inset 0 1px 1px rgba(202,221,224,.075);
}
.new-listing-sidebar {
	background-color:#edf3f4;
}
.city-image.full {
	padding:10px;
	width:100%;
}
.city-image.pull-left {
	padding:0 20px 20px 0;
}
.city-image.pull-right {
	padding:0 0 20px 20px;
}
.well.well-hcc {
	background-color:#f5f4ec;
	border:none;
	border-radius:0;
	box-shadow:0 0 3px 1px #CCC;
}
h4.city-title {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#0092c8;
	font-size:14px;
	font-style:italic;
	font-weight:bold;
	margin-top:20px;
}
.add-cities .btn-add {
	width: 70px;
	margin-left: -20px;
	margin-top: 20px;
}
.add-cities .btn-remove {
	width: 70px;
	margin-left: -20px;
	margin-top: 10px;
}
.search-by-city .desc {
	position: absolute;
    margin-top: -45px;
}
.article h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #0092c8;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}
.image.full {
	width:100%;
}

.content.article.blog {
	background: url( ../images/shadows.png) right top no-repeat;
	min-height:600px;
}
.content.article.blog .post {
	width:95%;
}
.content.article.blog hr {
	width:95%;
	border-top: 1px dashed #eee;
}
.widget-area .panel {
	border:none;
	border-radius:0;
	box-shadow:none;
}
.widget-area .panel .panel-heading {
	background-color: transparent;
	border-color: transparent;
}
.widget-area .panel .panel-heading .panel-title {
	font-size:18px;
}
.widget-area .panel .panel-body {
	padding-top:0;
}
.widget-area .panel .panel-body ul {
	margin:0;
	padding:0;
	list-style:none;
}
.widget-area .panel .panel-body ul > li {
	border-top: 1px solid #EAEAEA;
	display:block;
	padding:10px 3px;
}
.widget-area .panel .panel-body ul > li:first-child {
	border-top:none;
}
.widget-area .panel .panel-body ul > li > a{
	color:#8a8a8a;
	font-size:16px;
	font-family: 'Muli', sans-serif;
	
}
img.alignleft {
	float:left;
	padding-right:20px;
	padding-bottom:20px;
}
a.more-link {
	display:block;
	font-weight:bold;
	font-size: 14px;
}
a.more-link:hover,
.page-header a:hover {
	text-decoration:none;
	color:#7E002B;
}
.glyphicon.yellow {
	color:#f2c348;
	font-size:8px;
}
.page-header .entry-meta {
	margin:20px 0 15px;
	font-weight:bold;
	color:#797979;
}
.page-header .entry-meta a {
	color:#797979;
}
.page-header .entry-meta span {
	padding:0 15px;
}
.page-header .entry-meta span:first-child {
	padding-left:0;
}
